.card-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: #2e3856;
  color: #f6f7fb;
  border-radius: 10px;
  height: 400px;
  width: 600px;
  transform-style: preserve-3d;
  transition: 0.3s;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
  cursor: pointer;

  &.flip {
    --rotate-y: -180deg;
  }

  .front {
    position: absolute;
    backface-visibility: hidden;
  }
  .back {
    position: absolute;
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    padding: 40px;
  }

  &.card-edit {
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;

    cursor: auto;

    span {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

ul {
  display: flex;
  justify-content: center;

  li {
    cursor: pointer;
    background: #2e3856;
    color: #f6f7fb;
    padding: 15px;
    border-bottom: 4px solid #ffffff00;
    border-radius: 10px;
    list-style: none;
    margin: 2px;

    &:hover {
      background: #354168;
      border-bottom: 4px solid #55628e;
    }
  }
}

.active {
  border-bottom: 4px solid #55628e;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    cursor: pointer;

    &.left {
      transform: rotate(180deg);
    }
  }

  p {
    margin: 0 20px;
  }

  .edit {
    cursor: pointer;
  }
}

textarea {
  width: 100%;
  resize: none;
  background: none;
  outline: none;
  border: 0.5px solid #f6f7fb2a;
  border-radius: 5px;
  padding: 15px;
}
textarea::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.question {
  margin-bottom: 20px;
}

.answer {
  height: 100%;
}

button {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  color: #000000;
}
